

.box-auth-status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-user {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.btn-logout {
    background-color: transparent;
    border: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}