* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

:root {
    --height-article-card: 250px;
    --main-color: rgb(20, 20, 80);
    --bg-add-card: rgba(194, 239, 239, 0.3);
    --border-radius: .2rem;
}

.bg-main-color {
    background-color: var(--main-color);
}

.height-article-card {
    height: var(--height-article-card);
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

input:focus,
textarea:focus {
    outline: 0;
}

a {
    color: inherit;
    text-decoration-color: rgb(145, 159, 237);
}

ul  ul {
    padding-left: 1rem;
}

.flex-30 {
    flex: 0 0 30%;
    max-width: 30%;
}

.flex-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.flex-70 {
    flex: 0 0 70%;
    max-width: 70%;
}

.flex-100 {
    flex: 0 0 100%;
    max-width: 100%;
}

.image-article {
    width: 80%;
    margin: 1rem auto;
}

.image-article img {
    display: block;
    width: 100%;
}

.image-article figcaption {
    font-style: italic;
    font-size: .8rem;
    margin-top: .3rem;
}

.form-control,
.form-action {
    margin-bottom: 1rem;
}

.form-control input,
.form-control textarea {
    width: 100%;
    padding: .2rem .5rem;
    border-radius: var(--border-radius);
    border: none;
    display: block;
    margin: 0 auto;
}

.form-control input::placeholder,
.form-control textarea::placeholder {
    font-style: italic;
}

.form-control.input-password {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    padding-right: .5rem;
    border-radius: var(--border-radius);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

button.submit {
    background-color: white !important;
    color: var(--main-color) !important;
    border-radius: var(--border-radius) !important;
    font-weight: bold !important;
}

/* Auth Page */
.auth-page {
    background-color: rgb(145, 159, 237);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    background-color: var(--main-color);
    color: white;
    border-radius: var(--border-radius);
    padding: 2rem 1.5rem;
}

.auth-form .form-action button {
    display: block;
    margin: 0 auto;
}
